body {
    background-color: #1a1a1a;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
    width: 90%;
    max-width: 500px;
}

#game-board {
    width: 100%;
    height: 300px; /* TINGGI MAP ASAL */
    background-color: #000; /* WARNA MAP HITAM */
    border: 2px solid #444;
    position: relative;
    margin: 20px 0;
    overflow: hidden;
    border-radius: 10px;
}

.target {
    position: absolute;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

#start-btn { background-color: #28a745; color: white; }
#pause-btn { background-color: #fb0000; color: white; }
#stop-btn { background-color: #9a8282; color: white; }

.stats p {
    font-size: 18px;
    margin: 5px 0;
}


#high-score {
    color: #ccffcc;
    font-weight: bold;
    text-shadow: 0 0 25px #00ff00; 
}

h1 {
    color: #ffcccc; /* Warna inti merah biar nampak menyala */
    font-size: 35px; /* Saiz tulisan besar sikit */
    font-weight: bold;
    margin-bottom: 10px;
    
    /* CAHAYA PALING BESAR (BLUR 30PX) */
    text-shadow: 0 0 30px rgb(255, 0, 0); 
}

#share-btn {
    background-color: #007bff; /* Warna biru */
    color: white;
    box-shadow: 0 0 15px #007bff; /* Cahaya biru sikit kat butang */
    cursor: pointer;
}

#share-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 0 25px #007bff; /* Cahaya jadi besar bila letak mouse */
}